In [8]:
import sqlite3

#need to connect or create a database
conn=sqlite3.connect('example1.db')

#create cursor obj
cur=conn.cursor()

#create a table
cur.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

#Insert data - A row into the table
cur.execute("INSERT INTO users (name, age)VALUES(?, ?)", (('Albert', 38)))

cur.executemany("INSERT INTO users (name, age)VALUES(?, ?)", [('Alice', 30),('Bob', 80)])

#changes to be saved by using 'commit'
conn.commit()

#Query the database
cur.execute("SELECT * FROM users")

rows=cur.fetchall()
print(rows)

print(cur.fetchone())

#close the connection
conn.close()

[(1, 'Albert', 38), (2, 'Alice', 30), (3, 'Bob', 80), (4, 'Albert', 38), (5, 'Alice', 30), (6, 'Bob', 80), (7, 'Albert', 38), (8, 'Alice', 30), (9, 'Bob', 80)]
None